<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>English to Pig Latin Converter</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='PigLatin' ng-controller='MainCtrl as main'>
  <main>
      <div>Enter your phrase then select which language you would like to use for the conversion.</div>
      <div>Choosing ruby will persist your original phrase as well as its pig latin conversion.</div>
      <textarea class="phrase-input" rows="4" cols="50" ng-model="phrase" placeholder="English Phrase"></textarea>
      <textarea class="phrase-output" rows="4" cols="50" ng-model="pigPhrase" placeholder="Pig Latin Phrase"></textarea>
      <br>
      <button type="submit" class="js-input" ng-click="pigMeJS()">Pig Me With JS</button>
      <button type="submit" class="ruby-input" ng-click="pigMeRB()">Pig Me With Ruby</button>

    </form>
  </main>
  <footer>
    <div class="copyright">Copyright &copy; <%= Time.now.year %></div>
  </footer>
</body>
</html>
